@font-face {
    font-family: ;
    src: url('../fonts/');
  }
  
  :root {  
    --primary-color: #000000;
    --secondary-color: hsl(218, 50%, 78%);
    --tertiary-color: white;
  
    --h1: clamp(4.5rem, 6.5vw, 11rem);
    --h2: clamp(1.5rem, calc(var(--h1)*0.32), 3rem);
    --h3: clamp(0.8rem, calc(var(--h1)*0.15), 1.35rem);
  
    --spacing: ;
  
    --spline: ;
  }
  
  * {
    box-sizing: border-box;
  } 