@font-face {
    font-family: ;
    src: url('../fonts/');
  }
  
  :root {  
    --colorbg: #10171F;
    --color01: #F9F9F9;
  
    --h1: clamp(4.5rem, 6.5vw, 11rem);
    --h2: clamp(1.5rem, calc(var(--h1)*0.32), 3rem);
    --h3: clamp(0.8rem, calc(var(--h1)*0.15), 1.35rem);
  
    --padding: clamp(2.5rem, 3.2vh, 4rem);
  
    --spline: 2px;
  }
  